#board {
    padding: 3em;
    text-align: center;
}

.row>div {
    float: left;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 5em;
    /* border: 1px solid black; */
}

.row {
    clear: both;
    width: 302px;
    margin: auto;
    cursor: pointer;
}

h1 {
    font-size: 3em;
    text-transform: capitalize;
}

body {
    background-image: url('./green-color.jpg');
}

.top {
    border-bottom: 1px solid black;
}

.bottom {
    border-top: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.button {
    background-color: limegreen;
    width: 5em;
    height: 2em;
    position: absolute;
    right: 446px;
    bottom: 300px;
}